/* You can add global styles to this file, and also import other style files */
body
{
   background-color: #424242;
   color: white;
}

.flex-container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
}